.app-grid{
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
}

.header-flex-grid{
    text-align: left;
    display: flex;
    align-content: center;
    background: #ffffff33;
    grid-row: 1 / 2;
    height: 48px;
    margin: 8px 0px;
}


.hero-header{
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0px 0px 0px 24px;
    font-weight: lighter;
    line-height: 48px;
}

.hero-header span:first-child{
    color: seagreen;
}