<!--The content below is only a placeholder and can be replaced.-->
<div class="app-grid">
    <div class="header-flex-grid">
        <h1 class="hero-header">
            <span>Pure</span>
            <span>ene</span>
        </h1>

        <button class="button without-border">Sign in</button>
        <button class="button with-border">Create Account</button>
    </div>
    <div class="nav-flex-grid">
        <nav>
            <a class="nav-item">HOME</a>
            <a class="nav-item">LATEST</a>
            <a class="nav-item">WIND</a>
            <a class="nav-item">SOLAR</a>
            <a class="nav-item">TIDAL</a>
        </nav>
    </div>
    <router-outlet></router-outlet>
</div>