/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

html{
    height: 100vh;
    background: rgba(255, 255, 255, 0.2);
}

body{
    height: 100%;
    margin: 0px auto;
    background: rgba(255, 255, 255, 1);
    font-family: 'Open Sans', sans-serif;
}