.alkali{
    background: lightgreen !important;
}

.alkaline{
    background:hsl(120, 73%, 85%) !important;
}

.metal{
    background: gainsboro;
}

.transition{
    background: hsl(351, 100%, 92%);

}

.post-transition{
    background: lightpink;

}

.nonmetal{
    background: lightyellow
}

.metalloid{
    background: hsl(17, 100%, 90%);
}

.noble{
    background: lightblue;
}

.probably{
    background: lightgray !important;
}

.lanthanide{
    background: lightsteelblue
}

.actinide{
    background: hsl(214, 41%, 85%);
}

.Solid{
    color:  black;
}

.Liquid{
    color:  green;

}

.Gas{
    color:  hotpink;

}

.Unknown{
    color:  slategray;
}