<div class="root-grid">
  <div class="item header-name-root">
    <div class="header-name-group">Groups</div>
    <div class="header-name-period">Periods</div>
  </div>
  <div class="group-header-row">
    <div (mouseover)="mouseOverGroup(group)" (mouseout)="mouseLeaveGroup(group)" class="item" [ngClass]="{'header-even': (i%2 === 0), 'header-odd': (i%2 !== 0)}"
      *ngFor="let group of table.groups; index as i">
      <h4 class="group-name">{{group.name}}</h4>
    </div>
  </div>
  <div class="period-header-column">
    <div (mouseover)="mouseOverPeriod(period)" (mouseout)="mouseLeavePeriod(period)" class="item" [ngClass]="{'header-even': (i%2 === 0), 'header-odd': (i%2 !== 0)}"
      *ngFor="let period of table.periods; index as i">
      <h4 class="group-name">{{period.name}}</h4>
    </div>
  </div>
  <div class="elements-table" *ngIf="table.elements.length > 0">
    <div (mouseover)="mouseOver(element)" (mouseout)="mouseLeave(element)" class="item {{element.category}} {{element.group_selected_style}}"
      [ngStyle]="element.style" *ngFor="let element of table.elements; index as i">
      <span class="element-name">{{element.name}}</span>
      <span class="element-atomic-number">{{element.number}}</span>
      <strong class="element-symbol {{element.phase}}">{{element.symbol}}</strong>
      <span class="element-atomic-weight">{{element.atomic_mass}}</span>
    </div>

    <div class="item off-elements-placeholder" style="grid-column: 3 / 4; grid-row: 6 / 7;">*</div>
    <div class="item off-elements-placeholder" style="grid-column: 3 / 4; grid-row: 7 / 8;">**</div>
    <div class="active-element-root">
      <div class="active-element {{activeElement.category}}" *ngIf="activeElement">
        <span class="active-element-name">{{activeElement.name}}</span>
        <span class="active-element-atomic-number">{{activeElement.number}}</span>
        <strong class="active-element-symbol {{activeElement.phase}}">{{activeElement.symbol}}</strong>
        <span class="active-element-atomic-weight">{{activeElement.atomic_mass}}</span>
      </div>
      <div class="active-element-data">
        <span class="active-element-data-header-name" style="grid-row: 1/2; grid-column: 1/2">Configuration</span>
        <!-- <span class="active-element-data-header-value">
            <span>1s</span>
            <sup>{{activeElement.shells[0]}}</sup>
            <span *ngIf="(activeElement.shells[1] | electronicConfiguration : 2 : 's') > 0">2s
              <sup>{{activeElement.shells[1] | electronicConfiguration : 2 : 's'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[1] | electronicConfiguration : 2 : 'p') > 0">2p
              <sup>{{activeElement.shells[1] | electronicConfiguration : 2 : 'p'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[2] | electronicConfiguration: 3 : 's') > 0">3s
              <sup>{{activeElement.shells[2] | electronicConfiguration: 3 : 's'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[2] | electronicConfiguration: 3 : 'p') > 0">3p
              <sup>{{activeElement.shells[2] | electronicConfiguration: 3 : 'p'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[3] | electronicConfiguration: 4 : 's') > 0">4s
              <sup>{{activeElement.shells[3] | electronicConfiguration: 4 : 's'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[2] | electronicConfiguration: 3 : 'd') > 0">3d
              <sup>{{activeElement.shells[2] | electronicConfiguration: 3 : 'd'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[3] | electronicConfiguration: 4 : 'p') > 0">4p
              <sup>{{activeElement.shells[3] | electronicConfiguration: 4 : 'p'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[4] | electronicConfiguration: 5 : 's') > 0">5s
              <sup>{{activeElement.shells[4] | electronicConfiguration: 5 : 's'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[3] | electronicConfiguration: 4 : 'd') > 0">4d
              <sup>{{activeElement.shells[3] | electronicConfiguration: 4 : 'd'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[4] | electronicConfiguration: 5 : 'p') > 0">5p
              <sup>{{activeElement.shells[4] | electronicConfiguration: 5 : 'p'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[5] | electronicConfiguration: 6 : 's') > 0">6s
              <sup>{{activeElement.shells[5] | electronicConfiguration: 6 : 's'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[4] | electronicConfiguration: 5 : 'd') > 0">5d
              <sup>{{activeElement.shells[4] | electronicConfiguration: 5 : 'd'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[3] | electronicConfiguration: 4 : 'f') > 0">4f
              <sup>{{activeElement.shells[3] | electronicConfiguration: 4 : 'f'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[5] | electronicConfiguration: 6 : 'p') > 0">6p
              <sup>{{activeElement.shells[5] | electronicConfiguration: 6 : 'p'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[6] | electronicConfiguration: 7 : 's') > 0">7s
              <sup>{{activeElement.shells[6] | electronicConfiguration: 7 : 's'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[5] | electronicConfiguration: 6 : 'd') > 0">6d
              <sup>{{activeElement.shells[5] | electronicConfiguration: 6 : 'd'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[4] | electronicConfiguration: 5 : 'f') > 0">5f
              <sup>{{activeElement.shells[4] | electronicConfiguration: 5 : 'f'}}</sup>
            </span>
            <span *ngIf="(activeElement.shells[6] | electronicConfiguration: 7 : 'p') > 0">7p
              <sup>{{activeElement.shells[6] | electronicConfiguration: 7 : 'p'}}</sup>
            </span>
          </span> -->
        <span class="active-element-data-header-value" style="grid-row: 1/2; grid-column: 2/3">{{activeElement.electronicConfiguration}}</span>
        <span class="active-element-data-header-name" style="grid-row: 2/3; grid-column: 1/2">Isotopes</span>
        <span class="active-element-data-header-value" style="grid-row: 2/3; grid-column: 2/3">{{activeElement.density}}</span>
        <span class="active-element-data-header-name" style="grid-row: 3/4; grid-column: 1/2">Density</span>
        <span class="active-element-data-header-value" style="grid-row: 3/4; grid-column: 2/3">{{activeElement.density}}  g cm <sup>-3</sup></span>
        <span class="active-element-data-header-name" style="grid-row: 4/5; grid-column: 1/2">Melting Point</span>
        <span class="active-element-data-header-value" style="grid-row: 4/5; grid-column: 2/3">{{activeElement.meltingPoint}}K</span>
        <span class="active-element-data-header-name" style="grid-row: 5/6; grid-column: 1/2">Boiling Point</span>
        <span class="active-element-data-header-value" style="grid-row: 5/6; grid-column: 2/3">{{activeElement.boilingPoint}}</span>
        <span class="active-element-data-header-name" style="grid-row: 1/2; grid-column: 3/4">1st Ionization Energy</span>
        <span class="active-element-data-header-value" style="grid-row: 1/2; grid-column: 4/5">{{activeElement.ionizationEnergy}} KJ mol<sup>-1</sup></span>
        <span class="active-element-data-header-name" style="grid-row: 2/3; grid-column: 3/4">Electronegativity(P.S)</span>
        <span class="active-element-data-header-value" style="grid-row: 2/3; grid-column: 4/5">{{activeElement.electronegativity}}</span>
        <span class="active-element-data-header-name" style="grid-row: 3/4; grid-column: 3/4">Electron affinity</span>
        <span class="active-element-data-header-value" style="grid-row: 3/4; grid-column: 4/5">{{activeElement.electronAffinity}}</span>
        <span class="active-element-data-header-name" style="grid-row: 4/5; grid-column: 3/4">Discovered</span>
        <span class="active-element-data-header-value" style="grid-row: 4/5; grid-column: 4/5">{{activeElement.yearDiscovered}}</span>
      </div>
    </div>
  </div>
  <div class="off-elements-table">
    <div (mouseover)="mouseOver(element)" (mouseout)="mouseLeave(element)" class="item {{element.category}} {{element.group_selected_style}}"
      [ngStyle]="element.style" *ngFor="let element of table.offelements; index as i">
      <span class="element-name">{{element.name}}</span>
      <span class="element-atomic-number">{{element.number}}</span>
      <strong class="element-symbol {{element.phase}}">{{element.symbol}}</strong>
      <span class="element-atomic-weight">{{element.atomic_mass}}</span>
    </div>
    <div class="item off-elements-placeholder" style="grid-column: 3 / 4; grid-row: 1 / 2; text-align: center; line-height: 64px;">*</div>
    <div class="item off-elements-placeholder" style="grid-column: 3 / 4; grid-row: 2 / 3; text-align: center; line-height: 64px">**</div>
  </div>
  <div class="legend">
    <div class="legend-metals">
      <h4 class="legend-header" style="grid-row: 1 / 2; grid-column: 1 / 7">Metals</h4>
      <span class="legend-item alkali" style="grid-row: 2 / 3; grid-column: 1 /2">Alkali metal</span>
      <span class="legend-item alkaline" style="grid-row: 2 / 3; grid-column: 2 / 3">Alkaline Earth Metal</span>
      <span class="legend-item lanthanide" style="grid-row: 2 / 3; grid-column: 3 / 4">Lanthanides</span>
      <span class="legend-item actinide" style="grid-row: 2 / 3; grid-column: 4 / 5">Actinides</span>
      <span class="legend-item transition" style="grid-row: 2 / 3; grid-column: 5 / 6">Transition</span>
      <span class="legend-item post-transition" style="grid-row: 2 / 3; grid-column: 6 / 7">Post-Transition</span>
    </div>
    <div class="legend-metalloid">
      <h4 class="legend-header" style="margin-top: 10px">Metalloid</h4>
    </div>
    <div class="legend-nonmetals">
      <h4 class="legend-header" style="grid-row: 1 / 2; grid-column: 1 / 3">Non metals</h4>
      <span class="legend-item nonmetal" style="grid-row: 2 / 3; grid-column: 1 / 2">Reactive nonmetals</span>
      <span class="legend-item noble" style="grid-row: 2 / 3; grid-column: 2 / 3">Noble gas</span>
    </div>
    <div class="legend-unknown">
      <h4 class="legend-header" style="margin-top: 10px">Unknown properties</h4>
    </div>

    <div class="legend-state">
      <div class="legend-header" style="grid-column: 1 / 2;">Color of symbol shows state of matter (at 0 °C and 1 atm)</div>
      <div class="legend-state-item Solid" style="grid-column: 2 / 3">Solid</div>
      <div class="legend-state-item Liquid" style="grid-column: 3 / 4">Liquid</div>
      <div class="legend-state-item Gas" style="grid-column: 4 / 5">Gas</div>
      <div class="legend-state-item Unknown" style="grid-column: 5 / 6">Unknown</div>
    </div>
  </div>
</div>